.gradient-custom {
  height: 100%;
  width: 100%;
  width: auto;
  background: transparent;
  backdrop-filter: blur(10px); /* Apply backdrop filter for the glass effect */
}

.custom-container {
  height: 950px;
}

.custom-card-body {
  display: flex;
  flex-direction: column;
  max-height: 850px;
  overflow-y: auto;
}

.people-list {
  max-width: 400px;
}

.conversation-box {
  max-width: 800px;
}

.card.mask-custom {
  background: rgba(24, 24, 16, .2);
  border-radius: 1em;
  backdrop-filter: blur(15px);
  border: 2px solid rgba(255, 255, 255, 0.05);
  background-clip: padding-box;
  box-shadow: 10px 10px 10px rgba(46, 54, 68, 0.03);
}

.chat-body {
  display: flex;
  flex-direction: column;
  max-height: 850px;
  overflow-y: auto;
}

.mask.mask-custom {
  background: rgba(24, 24, 16, .2);
  border-radius: 1em;
  backdrop-filter: blur(15px);
  border: 2px solid rgba(255, 255, 255, 0.05);
  background-clip: padding-box;
  box-shadow: 10px 10px 10px rgba(46, 54, 68, 0.03);
}

.custom-bullet-list {
  list-style: none; /* Remove default bullets */
  padding-left: 0;  /* Reset padding */
}

.custom-bullet-list li {
  padding-left: 1em; 
}

.custom-bullet-list li::before {
  content: ''; 
  background: url('../public/img/design-thinking-interviews-fotor-bg-remover-2023063031122.png') no-repeat; 
  background-size: contain; 
  display: inline-block; 
  height: 1em; 
  width: 2em; 
  margin-right: 1em; 
  margin-left: -.5em; 
  padding: 2em;
  position: relative; 
  top: 3em; 
}

.delete {
  cursor: pointer;
}

h3 {
  display: inline;
  padding: 0px 5px 0px 0px;
}
